aioredis>=2.0
async_lru
redis
requests
sanic>=20.6.0 ; python_version >= '3.6'
multidict>=4.6.1
caput @ git+https://github.com/radiocosmology/caput.git
mmh3
peewee
requests
pymysql
orjson
chimedb @ git+https://github.com/chime-experiment/chimedb.git
chimedb.dataset @ git+https://github.com/chime-experiment/chimedb_dataset.git
