[Unit]
Description = CoMeT
Documentation=https://github.com/chime-experiment/comet
After=syslog.target network.target

[Service]
Type=simple
Restart=always
KillSignal=SIGINT
ExecStart=comet
User=chime
PIDFile=/var/run/comet.pid

[Install]
WantedBy = default.target
